body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;

}
#header, #footer{
    width: 100%;
    padding: 20px; 
    background-color: salmon;
}
#header {
    margin-bottom: 20px;
}

/* #gameCanv {
} */
#snake {
    /* border: 1px solid black; */
    box-shadow: 0px 10px 58px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    margin-top: 200px;
    margin-bottom: 0;
    width: 97%;
    color: #fff;
}

#userInp {
    border-radius: 10px;
    box-shadow: 0px 10px 58px 1px rgba(0,0,0,0.75);
    padding: 15px;
  }

 .inputs {

 }
.option {
    /* text-align: left; */
    font-size: 1.2em;
    padding-top: 10px;
    margin-left: 5px;
}

input {
   padding: 10px 20px;
   text-align: left;
   font-style: italic;
}

#btn {
    border: none;
    background-color: salmon;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    width: 200px;
    height: 75px;
    font-size: 1.2em;
}


.board {
    width: 40px;
    height: 20px;
}

@media only screen and (max-width: 800px) {
    #footer {
        position: relative;
        margin-top: 50px;
    }
    #userInp {
        margin: 20px auto;
    }
    #btn {
        width: 80%;
        margin: 20px auto;

    }
}
#header {
    font-size: 2em;
    color: white;
}


#hidden {
    position: fixed;
    margin: 25% 10%;
    margin-left: 6%;
}